body {
 background-color: rgb(255, 230, 0);
}

h1 {
  font-size: 12px;
}

.form-error,
.invalid-feedback,
.form-loading,
.form-report-error,
.form-report-success {
  display: none;
}

.active {
  display: block;
}
